@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');
@import 'menu.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1.5rem;
  position:relative;
  font-family: 'Lexend', sans-serif;
  color: var(--text);
  background: var(--background);
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 45vw;
  grid-template-areas:"header header"
                      "photo name"
                      "photo position"
                      "deskribapena deskribapena"
                      "kontaktua kontaktua"
                      "main main"
                      "side side";
}

body.light-mode {
  --text: black;
  --subtext: #494949;
  --highlight: #293abc;
  --background: RGB(250,250,250);
  --border: #ddd;
}

body.dark-mode {
  --text: #ddd;
  --subtext: #aaaaaa;
  --highlight: #4e9feb;
  --background: black;
  --border: #424242;
}

body.dark-mode .pic{
  filter: grayscale(20%) brightness(85%);
}

#kontaktua{
  grid-area: kontaktua;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem; 
}

header{
  grid-area: header;
}

#mail{order: 1;}
#linkedin{order: 2;}
#github{order: 3;}
#city{order: 4;}

#kontaktua>div{
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

#main{
  grid-area: main; 
  padding:1rem;
}

#izena{
  grid-area: name;
  color: var(--highlight);
  font-weight: 700;
  margin-top:5rem;
}

#postua{
  grid-area: position;
  color: var(--highlight);
}

#deskribapena{
  grid-area: deskribapena;
  padding: 1rem;
  margin-top:1vw;
}

#photo{
  grid-area: photo;
  background-image: url("/resources/img/pic.png");
  background-size: 100%;
  background-position: center;
  background-size:cover;
  margin-right: 1rem;
  border-radius: 1rem;
}

.atala>p{
  color: var(--highlight);
  font-weight: bold;
  border-bottom: 3px solid var(--highlight);
}

.data{
  font-weight: 300;
  font-size: 10;
  color: var(--subtext);
}

.lekua{
  color: var(--highlight);
}

.azalpena{
  font-weight: 300;
  font-size: 9;
}

p.oharra{
  font-weight:300;
  font-size:7;
  color: var(--subtext);
  border:0;
}

hr {
	border: 0;
	border-top: 2px solid var(--border);
}

button{
  border:none; 
  background-color: none;
  padding:0;
  border-radius: 5%;
  padding-left: 5px;
  padding-right: 5px;
}

.short>div{
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.side{
  grid-area: side;
  padding:1rem;
}

.icons>div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

i{
  color: var(--highlight);
}

a{
  color: var(--text);
}

a:hover{
  color: var(--highlight);
}

@media (min-width: 700px) {
  body {
    position:relative;
    display: grid;
    grid-template-rows: auto auto auto 10.24rem;
    grid-template-columns: 20rem ;
    grid-template-areas:"photo name"
                        "photo position"
                        "photo deskribapena"
                        "kontaktua main"
                        "side main";
  }

  #izena, #postua{
    margin-left:1rem;
  }

  #kontaktua{
    padding-top:1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow:0;
  }

  #mail{order: 1;}
  #linkedin{order: 3;}
  #github{order: 4;}
  #city{order: 2;} 
}

@media (min-width: 1250px) {
  body {
    position:relative;
    display: grid;
    grid-template-rows: auto auto auto ;
    grid-template-columns: 20rem 50vw;
    grid-template-areas:"photo name name"
                        "photo position position"
                        "photo deskribapena deskribapena"
                        "kontaktua main side";
  }
}