@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section#cv {
  max-width: 1100px;
  padding: 1.5rem;
  position:relative;
  font-family: 'Lexend', sans-serif;
  color: var(--text);
  background: var(--background);
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 45vw;
  grid-template-areas:"top top"
                      "top top"
                      "deskribapena deskribapena"
                      "main main"
                      "side side";
  gap: 1rem;
}

.atala{
  position: relative;
  margin-bottom: 1.5rem;
  background: var(--translucent);
  border-radius: 5px;
  padding: 1rem;
}

.atala:last-child{
  margin-bottom: 0;
}

.atala>p{
  position: absolute;
  top: -0.9rem;
  left: 1rem;
  color: var(--highlight);
  font-family: var(--title-font);
  font-weight: bold;
}

.atala div p{
  margin-bottom: 0.2rem;
}

#kontaktua>div{
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

#main{
  grid-area: main; 
}

#top{
  grid-area: top;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: var(--title-font);
  background-image: url("../resources/img/pic.png");
  background-color: var(--translucent);
  background-position:  right bottom -0.5rem;
  background-size:contain;
  background-repeat: no-repeat;
  padding: 1rem;
  color: var(--subtext);
  border: 1px solid var(--border);
  border-radius: 5px;
}

#izena{
  font-size: 2rem;
  font-weight: 700;
  color: var(--highlight);
}

#postua{
  font-weight: 500;
  color: var(--highlight);
}

#deskribapena{
  font-family: var(--text-font);
  grid-area: deskribapena;
  padding: 1rem;
}

.atala.photo{
  grid-area: photo;
  display: none;
}

#photo{
  background-image: url("../resources/img/pic.png");
  background-size: 100%;
  background-position: center left;
  background-size:cover;
  border-radius: 1rem;
  opacity: 0.8;
  height: 100%;
  width: 100%;
}

.data{
  font-weight: 400;
  font-size: 10;
  color: var(--subtext);
}

.lekua{
  color: var(--highlight);
}

.azalpena{
  font-family: var(--text-font);
  font-weight: 300;
  font-size: 9;
}

.modalitatea{
  font-family: var(--text-font);
  font-weight: 200;
  font-size: 9;
  color: var(--subtext);
}

.last-update{
  font-weight: 200;
  font-size: 9;
  color: var(--subtext);
  padding-left: 16px;
}

p.oharra{
  font-weight:300;
  font-size:7;
  color: var(--subtext);
  border:0;
}

hr {
	border: 0;
	border-top: 1px solid var(--border);
  margin: 1rem;
}

button{
  border:none; 
  background-color: none;
  padding:0;
  border-radius: 5%;
  padding-left: 5px;
  padding-right: 5px;
}

.short>div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.side{
  grid-area: side;
}

.icons>div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.icons i{
  margin-right: 0.5rem;
}

.short>div>p{
  margin-right: 0.5rem;
}

@media (min-width: 700px) {
  
  section#cv {
    position:relative;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 21rem ;
    grid-template-areas:"top top"
                        "deskribapena deskribapena"
                        "side main";
  }

}
