@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'menu.css';
@import 'josu-signature-animation.css';
@import 'cv.css';
@import 'portfolio.css';

:root {
  --text: black;
  --subtext: #494949;
  --highlight: #293abc;
  --background: rgb(250, 250, 250);
  --border: #ddd;
  --transition-time: 0s;
  --animation-duration: 5s;
  --text-size: calc(15px + 1vw);
}

body.light-mode {
  --text: black;
  --subtext: #494949;
  --highlight: #293abc;
  --background: RGB(250,250,250);
  --translucent: RGBA(221, 221, 221, 0.5);
  --supertranslucent: RGBA(221, 221, 221, 0.3);
  --border: #ddd;
}

body.dark-mode {
  --text: #ddd;
  --subtext: #aaaaaa;
  --highlight: #4e9feb;
  --background: black;
  --translucent: RGBA(42,42,42,0.5);
  --supertranslucent: RGBA(221, 221, 221, 0.3);
  --border: #424242;
}

body.dark-mode .pic{
  filter: grayscale(20%) brightness(85%);
}

html, body{
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text);
}

body{
  position: relative;
  font-family: 'Courier Prime', 'Courier New', sans-serif;
}

section#welcome {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding:2rem;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Courier Prime', 'Courier New', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*border-left: 5px solid var(--highlight);*/
  margin-left: 0vw;
}

.signature_container{
  width: 50vw;
  max-width:300px;
}

.signature_container path,line{
  stroke: var(--highlight);
}

.lets{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.let, .button{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
}

.let .array{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 0.5rem;
}

.let{
  flex-wrap: wrap;
}

.button{
  flex-shrink: 0;
}

.button>*{
  margin: 5px;
}

.let p{
  flex-shrink: 0;
  font-size: var(--text-size);
}

.let a{
  text-decoration: none;
  color: var(--highlight);
  font-weight: bold;
  font-size: var(--text-size);
}

.let a:hover{
  text-decoration: underline;
}

.feather{
  width: var(--text-size);
  height: var(--text-size);
  padding: 2px;
}

.feather.orange{
  color: orange;
}

.feather.red{
  color: red;
}

.feather.thumb{
  color: green;
}

.arrow-down{
  animation: wiggleDown 3s infinite;
}

.arrow-up{
  cursor: pointer;
  animation: wiggleUp 3s infinite;
  transition: 1s;
}

.arrow>i{
  font-size: 3rem;
  color: var(--highlight);
  transition: 1s;
}

@keyframes wiggleDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(2em); }
  100% { transform: translateY(0); }
}

@keyframes wiggleUp {
  0% { transform: translateY(0); }
  50% { transform: translateY(-1em); }
  100% { transform: translateY(0); }
}

#side {
  position: absolute;
  top: 1rem; 
  right: 1rem;
  z-index: 1000;
}

hr.section {
	border: 0;
	border-top: 1px solid var(--border);
  margin: 2rem;
}

section#portfolio>h1{
  margin-left: 0.5rem;
  margin-bottom:0.5rem;
  margin-left:1rem;
}

section#footer{
  /*border-left: 5px solid var(--highlight);*/
  /*margin-bottom: 2rem;
  margin-right: 2rem;*/
  padding: 1rem;
  font-family: 'Courier Prime', 'Courier New', sans-serif;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.dk-button{
  font-size: 1rem;
  border-radius: 5px;
  padding:5px;
  cursor: pointer;
  /*transition: var(--transition-time);*/
  color: var(--highlight);
  /*background-color: var(--translucent);*/
  background: none;
	border: none;
}

.card {
  width: 40vw;
  height: 50vh;
  max-width: 300px;
  max-height: 300px;
  position: relative;
  padding: 1rem 3rem;
  /*border: 1px solid var(--border);*/
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color:inherit;
  transition: border var(--transition-time);
  /*background-color: var(--border);*/
}

.content{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  transition: var(--transition-time);
}

a{
  color:  var(--highlight);
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

i{
  color: var(--highlight);
}

/*modal*/
.modal {
  z-index: 1001;
  transform: translate3d(0, 0, 0);

  /* Probably need media queries here */
  width: 99vw;
  max-width: 80rem;
  height: 95vh;
  bottom:-100%;
  
  position: absolute;

  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 1rem 1rem 0rem 0rem;
  
  overflow: hidden;
  opacity: 1;
  
  -webkit-transition: bottom 1.5s ease-in-out;
  -moz-transition: bottom 1.5s ease-in-out;
  -o-transition: bottom 1.5s ease-in-out;
  transition: bottom 1.5s ease-in-out;
}

.modal.opened{
  bottom: 0;
  opacity: 1;
}

.modal-overlay {
  z-index: 1000;
  /*background: var(--background);*/
  background-image: linear-gradient(to bottom, transparent, var(--background));
  position: fixed;
  left: 0;
  bottom: -100%;
  width:100%;
  height: 100%; 
  opacity:0;
  transition: opacity 1.5s ease-in-out, bottom 1.5s ease-in-out;
}

.modal-overlay.opened {
  bottom:0;
  opacity:1;
  
}

.close-button{
  z-index: 2500;
  color: var(--text);
  font-size: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--background);
  text-align: center;
}

body.light-mode .modal-overlay:hover,
body.light-mode .close-button:hover{
  cursor: url("/resources/svg/close.svg"), default;
}

body.dark-mode .modal-overlay:hover,
body.dark-mode .close-button:hover{
  cursor: url("/resources/svg/close-white.svg"), default;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

/*media queries*/
@media (min-width: 576px) { 

}

@media (min-width: 768px) {
  .modal {
    width: 90vw;
  }

  section#welcome {
    width: 90vw;
    margin-left: 10vw;
  }

  section#cv{
    /*border-left: 5px solid var(--highlight);*/
    margin-left: 10vw;
  }

  section#portfolio .box:first-child, section#portfolio>h1 {
    margin-left: calc(1rem + 10vw);
  }

  section#footer {
    width: 80vw;
    margin-left: 10vw;
  }

}

@media (min-width: 992px) {
 
 }

@media (min-width: 1200px) {

}


