@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

:root {
  --text: black;
  --subtext: #494949;
  --highlight: #293abc;
  --background: rgb(250, 250, 250);
  --border: #ddd;
  --transition-time: 0s;
  --animation-duration: 5s;
}

html,body{
  margin:0;
  padding:0;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Lexend', sans-serif;
  transition: background var(--transition-time);
}

body.light-mode {
  --text: black;
  --subtext: #494949;
  --highlight: #293abc;
  --background: RGB(250,250,250);
  --border: #ddd;
}

body.dark-mode {
  --text: #ddd;
  --subtext: #aaaaaa;
  --highlight: #4e9feb;
  --background: black;
  --border: #424242;
}

body.dark-mode .pic{
  filter: grayscale(20%) brightness(85%);
}

.footer{
  z-index: 800;
  position:absolute;
  bottom: 0rem;
  right: 1rem;
  display:flex;
  flex-direction: row;
  align-items: center;
}

.footer p{
  color: var(--subtext);
  font-size: 1rem;
  transition: var(--transition-time);
}

.dk-button{
  border-radius: 5px;
  background-color: var(--border);
  padding:5px;
  margin-right:1rem;
  border:0;
  cursor: pointer;
  transition: var(--transition-time);
  color: var(--text);
}

.card {
  width: 40vw;
  height: 50vh;
  max-width: 300px;
  max-height: 300px;
  position: relative;
  padding: 1rem 3rem;
  border: 1px solid var(--border);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color:inherit;
  transition: border var(--transition-time);
  /*background-color: var(--border);*/
}

.spinning_msg{
  position: absolute;
  z-index:20;

  width: 15rem;
  height: 15rem;
  top: -7.5rem;
  left: -1.5rem;
}

.pic{
  background-repeat: no-repeat;
  background-size: cover;
  z-index:20;
  border-radius: 50%;
  position: absolute;
  
  width: 6rem;
  height: 6rem;
  top: -3rem;
  left: 3rem;
}

.signature{
  z-index:20;
  position: absolute;

  bottom:-3.5rem;
  right: -2rem;
  width: 15rem;
}

.content{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  transition: var(--transition-time);
}

.button{
  z-index:100;
  padding:0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  font-size: 1.25rem;
}

.button:hover{
  color: var(--highlight);
}

.button i{
  margin-right: 0.5rem;
}

/*modal*/
.modal {
  z-index: 1001;
  transform: translate3d(0, 0, 0);

  /* Probably need media queries here */
  width: 99vw;
  max-width: 80rem;
  height: 95vh;
  bottom:-100%;
  
  position: absolute;

  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 1rem 1rem 0rem 0rem;
  
  overflow: hidden;
  opacity: 1;
  
  -webkit-transition: bottom 1.5s ease-in-out;
  -moz-transition: bottom 1.5s ease-in-out;
  -o-transition: bottom 1.5s ease-in-out;
  transition: bottom 1.5s ease-in-out;
}

.modal.opened{
  bottom: 0;
  opacity: 1;
}

.modal-overlay {
  z-index: 1000;
  /*background: var(--background);*/
  background-image: linear-gradient(to bottom, transparent, var(--background));
  position: fixed;
  left: 0;
  bottom: -100%;
  width:100%;
  height: 100%; 
  opacity:0;
  transition: opacity 1.5s ease-in-out, bottom 1.5s ease-in-out;
}

.modal-overlay.opened {
  bottom:0;
  opacity:1;
  
}

.close-button{
  z-index: 2500;
  color: var(--text);
  font-size: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--background);
  text-align: center;
}

body.light-mode .modal-overlay:hover,
body.light-mode .close-button:hover{
  cursor: url("/resources/svg/close.svg"), default;
}

body.dark-mode .modal-overlay:hover,
body.dark-mode .close-button:hover{
  cursor: url("/resources/svg/close-white.svg"), default;
}

.modal iframe{
  border: none;
  height: inherit;
  width: inherit;
  max-width: inherit;
  border-radius: inherit;
}

svg textPath { 
    font-size: 45px;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    letter-spacing: 22px;
    fill: var(--highlight);
}

/* take a bunch of the svg attributes and place them here for the sake of dryness */
path,
line{
  fill: none;
  stroke: var(--highlight);
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  transition: stroke var(--transition-time);
}

/* give the vectors a dashed stroke */
.stroke-josu {
  stroke-dasharray: 1000;
  animation: write1 var(--animation-duration) linear;
}

.stroke-marra_jota {
  stroke-dasharray: 300;
  animation: write2 var(--animation-duration) linear;
}

.stroke-puntua {
  stroke-dasharray: 10;
  animation: write3 var(--animation-duration) linear;
}


/*  keyframes */
@keyframes write1 {
    0% {
        stroke-dashoffset: 1000;
    }
    70% {
        stroke-dashoffset: 0;
    }
}

@keyframes write2 {
    0%, 70% {
        stroke-dashoffset: 300;
    }
    95% {
        stroke-dashoffset: 0;
    }
}

@keyframes write3 {
    0%, 80% {
        stroke-dashoffset: 10;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}



@media (min-width: 576px) { 

}

@media (min-width: 768px) {
  .modal {
    width: 90vw;
  }
}

@media (min-width: 992px) {
 
 }

@media (min-width: 1200px) {
  
 }


