@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&Lexend:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import 'josu-signature-animation.css';
@import 'cv.css';
@import 'portfolio.css';

:root {
  --text: black;
  --subtext: #494949;
  --highlight: #293abc;
  --background: rgb(250, 250, 250);
  --translucent: RGBA(221, 221, 221, 0.5);
  --supertranslucent: RGBA(221, 221, 221, 0.3);
  --border: #ddd;
  --transition-time: 1s;
  --animation-duration: 5s;
  --text-size: calc(15px + 1vw);
  --text-size-2: calc(10px + 1vw);
  --text-size-3: calc(7px + 1vw);
  --code-font: 'Courier Prime', 'Courier New', sans-serif;
  --title-font: 'Poppins', sans-serif;
  --text-font: 'Lexend', sans-serif;
}

body.light-mode {
  --text: black;
  --subtext: #494949;
  --highlight: #293abc;
  --background: RGB(250,250,250);
  --translucent-background: RGBA(250,250,250, 0.5);
  --translucent: RGBA(221, 221, 221, 0.5);
  --supertranslucent: RGBA(221, 221, 221, 0.3);
  --border: #ddd;
}

body.dark-mode {
  --text: #ddd;
  --subtext: #aaaaaa;
  --highlight: #4e9feb;
  --background: rgba(0, 0, 0);
  --translucent-background: rgb(0, 0, 0, 0.5);
  --translucent: RGBA(42,42,42,0.5);
  --supertranslucent: RGBA(221, 221, 221, 0.3);
  --border: #424242;
}

body.dark-mode .pic{
  filter: grayscale(20%) brightness(85%);
}

html, body{
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text);
}

body{
  position: relative;
  font-family: var(--code-font);
}

section#welcome {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: var(--text);
  font-family: var(--code-font);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: none;
}

.aurkezpena{
  font-size: var(--text-size);
  max-width: 1300px;
  padding:0rem 1rem 0rem 1rem;
}

#cursorimage{
  position: absolute;
  display: none;
  width: 150px;
  height: 150px;
  background-image: url(../resources/img/profile.jpg);
  background-size: cover;
  pointer-events: none;
  /*border-radius: 0% 50% 50% 50%;*/
}

#cursorhover{
  cursor: crosshair;
}

.lets{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding:0rem 1rem 0rem 1rem;
}

.let, .button{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.let .array{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-left: 0.5rem;
}

.let{
  flex-wrap: wrap;
}

.button{
  flex-shrink: 0;
  cursor: pointer;
}

.button>*{
  margin: 5px;
}

.let p{
  flex-shrink: 0;
  font-size: var(--text-size);
}

.let .button{
  text-decoration: none;
  color: var(--highlight);
  font-weight: bold;
  font-size: var(--text-size);
}

.let .button:hover{
  text-decoration: underline;
}

.copying, .copying:hover{
  cursor:default !important;
  text-decoration: none !important; 
}

.feather{
  width: var(--text-size);
  height: var(--text-size);
  padding: 2px;
}

.arrow-down{
  animation: wiggleDown 3s infinite;
  position: absolute;
  bottom:1.5rem;
  left:1.5rem;
  font-size: 2rem;
}

.arrow-up{
  cursor: pointer;
  animation: wiggleUp 3s infinite;
  transition: 1s;
}

.arrow>i{
  font-size: 3rem;
  color: var(--highlight);
  transition: 1s;
}

@keyframes wiggleDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(0.5rem); }
  100% { transform: translateY(0); }
}

@keyframes wiggleUp {
  0% { transform: translateY(0); }
  50% { transform: translateY(-1em); }
  100% { transform: translateY(0); }
}

#menu {
  position: fixed;
  width: 100vw;
  top: 0; 
  left: 1;
  padding:0.5rem;
  z-index: 3000;
  background-color: var(--translucent-background);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.signature_container{
  width: 80px;
  margin-top: 0.25rem;
  margin-left: 1.5rem;
  margin-right: auto;
}

.signature_container path,line{
  stroke: var(--highlight);
}

hr.section {
	border: 0;
	border-top: 1px solid var(--translucent);
  margin: 2rem;
}

section#portfolio>h1{
  margin-left: 0.5rem;
  margin-bottom:0.5rem;
  margin-left:1rem;
}

section#footer{
  padding: 1rem;
  font-family: var(--code-font);
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.dk-button{
  font-size: 1rem;
  border-radius: 5px;
  padding:5px;
  cursor: pointer;
  color: var(--highlight);
  background: none;
	border: none;
}

.card {
  width: 40vw;
  height: 50vh;
  max-width: 300px;
  max-height: 300px;
  position: relative;
  padding: 1rem 3rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color:inherit;
  transition: border var(--transition-time);
}

.content{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  transition: var(--transition-time);
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.c-highlight{
  color: var(--highlight);
}

.c-text{
  color: var(--text);
}

.italic{
  font-style: italic;
}

.bold{
  font-weight: bold;
}

.button{
  font-weight: bold;
  color:  var(--highlight);
}

i{
  color: var(--highlight);
}

/*dropdown*/

.dropdown>p{
  cursor: pointer;
  font-style: italic;
}

.dropdown>p:hover{
  text-decoration: underline;
}

.dropdown .dropdown-content{
  display: none;
}

.dropdown.opened .dropdown-content{
  display: block;
}

/*modal*/

#modal {
  z-index: 1001;

  /* Probably need media queries here */
  width: 100vw;
  max-width: 700px;
  height: 0vh;
  position: fixed;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--background);
  border: 1px solid var(--border);
  border-bottom: none;
  border-radius: 1rem 1rem 0rem 0rem;
  -webkit-transition: height 1.5s ease-in-out;
  -moz-transition: height 1.5s ease-in-out;
  -o-transition: height 1.5s ease-in-out;
  transition: height 1.5s ease-in-out;
  box-shadow: 0 0 6px var(--translucent);
}

#modal.opened{
  height: 80vh;
}

body.modal-open {
  overflow: hidden;
}

.modal-inside{
  position:relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.close-button{
  position: fixed;
  top: 0; 
  width: 100%;
  color: var(--subtext);
  font-size: 2rem;
  text-align: center;
}

.close-button i{
  color: inherit;
}

.modal-content{
  background: transparent;
  margin-top:2rem;
  padding: 0rem 1rem 1rem 1rem;
  height: 75vh;
  overflow-y:scroll;
  font-family:var(--text-font);
}

.modal-overlay {
  z-index: 1000;
  /*background: var(--background);*/
  background-image: linear-gradient(to bottom, transparent, var(--translucent));
  position: fixed;
  left: 0;
  bottom: -100%;
  width:100%;
  height: 100%; 
  opacity:0;
  backdrop-filter: blur(1px);
  transition: opacity 1.5s ease-in-out, bottom 1.5s ease-in-out;
}

.modal-overlay.opened {
  bottom:0;
  opacity:1;
}

body.light-mode .modal-overlay:hover,
body.light-mode .close-button:hover{
  cursor: url("../resources/svg/close.svg"), pointer;
}

body.dark-mode .modal-overlay:hover,
body.dark-mode .close-button:hover{
  cursor: url("../resources/svg/close-white.svg"), pointer;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

/*media queries*/

@media (min-width: 768px) {


  .aurkezpena, .lets{
    padding-left: 10vw;
    width: 90vw;
  }

  section#cv{
    margin-left: 10vw;
  }

  section#portfolio .box:first-child, section#portfolio>h1 {
    margin-left: calc(1rem + 10vw);
  }

  section#footer {
    width: 80vw;
    margin-left: 10vw;
  }

}


