  #menu{
    /*
    z-index: 2000;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    top: 0rem;
    right: 0.25rem;
    padding: 0.25rem;
    background-color: var(--highlight);
    border:0;
    */
    color: var(--background);
  }
  
  #menu>a{
    color: var(--background);
    text-decoration: none;
  }